.our-works {
  position: relative;
  padding-top: 30px;
  padding-bottom: 57px;
}

.our-works h2 {
  position: relative;
  display: flex;
  margin: 0 0 24px;
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: $color-dodger-blue;

  &::before {
    content: "";
    position: absolute;
    bottom: -18px;
    width: 80px;
    height: 2px;
    background: $color-silver;
    border-radius: 6px;
  }
}
